@model PagedList.IPagedList<UMCS.Models.Contribution>
@using PagedList.Mvc;

<link href="~/Content/PagedListAdmin.css" rel="stylesheet" />

@{
    ViewBag.Title = "Repository";
    Layout = "~/Views/Layout/_Main.cshtml";
}

<div class="header-advance-area">
    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">
                            @using (Html.BeginForm("Repository", "Students", FormMethod.Get))
                            {
                                <table class="table" style="margin-bottom: -2px">
                                    <tr style="border-top:hidden">
                                        <td>@Html.TextBox("fileName", "", new { @placeholder = "File's Name", @class = "form-control" })</td>
                                        <td>@Html.TextBox("submitDate", "", new { @placeholder = "Submit Date", @type = "date", @class = "form-control" })</td>
                                        <td>@Html.DropDownList("type", (IEnumerable<SelectListItem>)ViewBag.Type, htmlAttributes: new { @class = "form-control" })</td>
                                        <td>@Html.DropDownList("status", (IEnumerable<SelectListItem>)ViewBag.Status, htmlAttributes: new { @class = "form-control" })</td>
                                        <td style="width:30px"><input type="submit" value="Search" class="btn" style="background-color:#006DF0; color:white" /></td>
                                        <td><a href=@Url.Action("Repository", "Students") class="btn" style="background-color:#006DF0; color:white">Refresh</a></td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="courses-area">
    <div class="container-fluid">
        <div class="row">
            <div class="admintab-wrap edu-tab1">

                <div id="TabProject" class="tab-pane in active animated flipInX custon-tab-style1">
                    @{
                        var count = 0;
                        foreach (var item in Model)
                        {
                            if (item.ID != 0)
                            {
                                count++;
                                break;
                            }
                        }
                        if (count == 0)
                        {
                    <h3 style="text-align:center; height: 300px; margin-top:10px">No contributions available</h3>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                var d1 = Convert.ToDateTime(item.DateSubmit).ToString("dd/MM/yyyy");
                                var d2 = Convert.ToDateTime(item.LastUpdate).ToString("dd/MM/yyyy");
                                <div class="col-sm-6 col-md-4 col-lg-3" style="height:400px">
                                    <div class="courses-inner res-mg-b-30" style="width:250px; height:380px">
                                        <div class="courses-title">
                                            @{
                                                var image = item.ArchiveLink;
                                                var path = item.Title + item.FileType;

                                                if (item.Type == "Document")
                                                {
                                                    switch (item.FileType)
                                                    {
                                                        case ".doc":
                                                            image = "/Avatars/doc.png";
                                                            break;
                                                        case ".docx":
                                                            image = "/Avatars/docx.png";
                                                            break;
                                                        case ".pdf":
                                                            image = "/Avatars/pdf.jpg";
                                                            break;
                                                    }
                                                    <a href="#">
                                                        <img src=@image alt="" style="width:180px; height:180px; padding-left:10px">
                                                    </a>
                                                }
                                                else
                                                {
                                                    image = "/Files/" + item.Title + item.FileType;
                                                    <a href="#"><img src=@image alt="" style="width:260px; height:180px"></a>
                                                }
                                            }

                                            <h2>@item.Title</h2>
                                        </div>
                                        <div class="course-des">
                                            <p><span><i class="fa fa-clock"></i></span> <b>Date Submit:</b> @d1</p>
                                            <p><span><i class="fa fa-clock"></i></span> <b>Last Update:</b> @d2</p>
                                            <p><span><i class="fa fa-clock"></i></span> <b>Status:</b> @item.Status</p>
                                        </div>
                                        <div class="product-buttons">
                                            <a href="@Url.Action("Download", "Students", new { FilePath = path })" class="btn btn-primary">Download</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>

        </div>
    </div>
</div>

<div class="courses-area" style="margin: 20px auto">
    <div class="container-fluid">
        <div class="row">
            <div class="admintab-wrap edu-tab1 mg-t-30">
                <div style="margin-left: 30px">
                    <h6 style="color:#006DF0; font-size:15px">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</h6>

                    @Html.PagedListPager(Model, page => Url.Action("Repository", new
                    {
                        id = Session["S_ID"],
                        page,
                        fileName = Request.QueryString["fileName"],
                        submitDate = Request.QueryString["submitDate"],
                        type = Request.QueryString["type"],
                        status = Request.QueryString["status"],
                    }),
                                               new PagedListRenderOptions
                                               {
                                                   DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                                   DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                                   DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                                   DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                                   MaximumPageNumbersToDisplay = 3
                                               })
                </div>
            </div>
        </div>
    </div>
</div>