@model UMCS.Models.ClosureDate
@{
    ViewBag.Title = "SetClosureDate";
    Layout = "~/Views/Layout/ADMIN.cshtml";
}


@using (Html.BeginForm("SetClosureDate", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="width:65%; margin-left:30%; margin-top:100px;border-top:none">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.AcademicYear, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Academic Year</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AcademicYear, new { @class = "form-control", @type = "text", @style = "width:200px",
                                                                                        @Value = DateTime.Now.Year, @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.AcademicYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.ClosureDate1, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Closure Date</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClosureDate1, new { htmlAttributes = new { @class = "form-control", @type = "date", @style = "width:200px" }
    })
                @Html.ValidationMessageFor(model => model.ClosureDate1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.FinalClosureDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Final Closure Date</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinalClosureDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @style = "width:200px" } })
                @Html.ValidationMessageFor(model => model.FinalClosureDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (ViewBag.AcademicYear == DateTime.Now.Year.ToString())
                {
                    <input type="submit" value="Save" class="btn btn-primary" style="margin-left:7%" />
                }
                else
                {
                    <input type="submit" value="Save" class="btn btn-primary" style="margin-left:7%" disabled />
                }

            </div>
        </div>

        @if (ViewBag.Message != null)
        {
            <div class="row" style="margin-top:20px">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>@ViewBag.Message</strong>
                </div>
            </div>
        }
        else if (ViewBag.AcademicYear != DateTime.Now.Year.ToString())
        {
            <div class="row" style="margin-top:20px">
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>@ViewBag.AcademicYear</strong>
                </div>
            </div>
        }

    </div>
}
