@model List<UMCS.Models.Contribution>
@{
    ViewBag.Title = "Accept";
    List<String> status = new List<string> { "Commented", "Selected", "Unselected" };
    Layout = "~/Views/Layout/MC.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="sparkline13-list">
                <div class="sparkline13-hd">
                    <div class="main-sparkline13-hd">
                        <h1>Projects <span class="table-project-n">Data</span> Table</h1>
                    </div>
                </div>
                <div class="sparkline13-graph">
                    <div class="datatable-dashv1-list custom-datatable-overright">

                        <table id="table" data-toggle="table" data-search="true"
                                data-toolbar="#toolbar">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>File Type</th>
                                    <th>Status</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Where(a=> a.FID == Convert.ToInt32(Session["f"])))
                                {
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.Type</td>
                                        <td>@item.FileType</td>
                                        <td>
                                            @{
                                                switch (item.Status)
                                                {
                                                    case "Pending":
                                                        <div class="badge bg-warning" style="width:80px">
                                                            @item.Status
                                                        </div>
                                                        break;
                                                    case "Commented":
                                                        <div class="badge bg-info"style="width:80px">
                                                            @item.Status
                                                        </div>
                                                        break;
                                                    case "Selected":
                                                        <div class="badge bg-success"style="width:80px">
                                                            @item.Status
                                                        </div>
                                                        break;
                                                    case "Unselected":
                                                        <div class="badge bg-danger"style="width:80px">
                                                            @item.Status
                                                        </div>
                                                        break;
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (item.Status == "Pending")
                                                {
                                                    <a href="javascript:void(0);" class="LoginEmail btn btn-info" data-id="@item.ID"  style="width:100px">
                                                        <i class="far fa-comment"></i>
                                                        <span>Comment</span>
                                                    </a>
                                                    @*@Html.ActionLink("Comment", "SendEmail", "MarketingCoordinators",
                new { id = item.ID }, new { @class = "btn btn-info" });*@
                                                }
                                                else
                                                {
                                                    if (Session["ChangeStatus"] == null)
                                                    {
                                                        <a href="@Url.Action("ChageStatus", "MarketingCoordinators", new { id = item.ID})"
                                                           class="btn btn-warning"  style="width:100px">
                                                            <i class="fas fa-edit"></i>
                                                            <span style="width:100px">Change</span>
                                                        </a>
                                                    }
                                                    else if (Session["ChangeStatus"] != null && 
                                                        item.ID == int.Parse(Session["ChangeStatus"].ToString()))
                                                    {
                                                        <form action="@Url.Action("UpdateStatus")" method="get">
                                                            <input type="hidden" name="id" value="@item.ID" />
                                                            <select id="status" name="status">
                                                                @foreach (var s in status)
                                                                {
                                                                    if (s == item.Status)
                                                                    {
                                                                        <option value="@s" selected="selected">@s</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@s">@s</option>
                                                                    }
                                                                }
                                                            </select>
                                                            <input type="submit" value="Done" class="btn btn-warning" />
                                                        </form>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("ChageStatus", "MarketingCoordinators", new { id = item.ID})"
                                                            class="btn btn-warning">
                                                            <i class="fas fa-edit"></i>
                                                            <span>Change</span>
                                                        </a>
                                                    }
                                                }
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>
            </div>
        </div>
    </div>
</div>